﻿<%@ Page Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="Home.aspx.cs" Inherits="Dojo.Home" %>

<asp:Content ID="cntMain" runat="server" ContentPlaceHolderID="MainContent">

<div id="text"><span id="intro" runat="server"></span></div>

</asp:Content>
