﻿@cl_link: #4367d9;
@cl_link_hover: lighten(@cl_link, 20%);
@cl_link_active: lighten(@cl_link, 30%);
@cl_orange: #ff7e02;
@cl_red: #f60016;
@cl_darkgray: #4d4d4d;
@cl_green: #00c21d;
@sansseriffont: "Trebuchet MS", Verdana, Tahoma, "Segoe UI", Helvetica, sans-serif;
@seriffont: Georgia, @sansseriffont; 

.font_family
{
	font-family: @sansseriffont;
	font-size: 0.95em;
}

body   
{
	margin: 0;
	.font_family;
	color: @cl_darkgray;
	background-color: white;		
}

div 
{
	line-height: 1.5em;
}

a
{
	color: @cl_link;
    text-decoration: none;
}

a:link, a:visited
{
    color: @cl_link;
}

a:hover
{
    color: @cl_link_hover;
} 

a:active
{
    color: @cl_link_active;
}

h1, h2, h3, h4, h5, h6
{
    margin-bottom: 0px;
	font-weight: 100;	
}

h1
{	
    font-size: 3em;
    padding-bottom: 0px;
	padding-top: 0px;
    margin-bottom: 15px;
	margin-top: 0px;
	font-family: Georgia;
}

h2
{
    font-size: 1.4em;
	margin-top: 0px;
	margin-bottom: 7px;
	xletter-spacing: 0.05em;
}

.h2_homepage
{
	font-size: 1.3em;
	color: #496AD6;
	margin-top: 20px;
	margin-bottom: -5px;
}

strong
{
	font-weight: normal;
}

/* This is the middle column. */
#container
{
	width: 970px;
	margin: 0 auto;
}

#container table
{
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0px;
}

.menubar
{
	font-family: @seriffont;
	font-style: italic;
	font-size: 1.1em;
}

.menubar div
{
	padding-left: 10px;
	margin-bottom: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.menubar_hover
{
	background-color: darken(@cl_green, 3%);
}

.menubar a
{
	color: white;
}

.menuitem
{
}

.menuitem_selected
{
	background-color: #249137;

}

.contact_header
{
	color: #d00c33;
	font-family: @seriffont;
}

.contact_section
{
	margin-top: 20px;
	margin-bottom: 20px;
}

#tbcontact td
{
	padding-top: 10px;
}

#tbcontact div
{
	padding-bottom: 5px;
}

#tbcontact img
{
	padding-left: 20px;
}

.ppl_list
{
	margin-top: 20px;
	padding-right: 30px;
}

.ppl_separator
{
	height: 1px;
	border-bottom: dotted 1px @cl_orange; 
	margin-top: 30px;
	margin-bottom: 5px;
}

.ppl_img
{
	padding-right: 10px;
}

.ppl_margin_left
{
	width: 10px;
}

.gradient
{
	background-image: url('/images/gradient.png');
	background-size: 100%;
}

.menubarlayout
{
	width: 130px;
	background-color: @cl_green;
}

.flags
{
	position: relative; 
	top: -12px; 
	text-align: right;
}

.contsep
{
	border-top: solid 1px #c2c2c2;
}

// A text block in the content area.
.contblock
{
	padding-left: 35px;
}

.spacer
{
	padding-top: 25px;
	padding-bottom: 25px;
}

.mainstatement
{
	font-size: 1.7em;
	color: @cl_red;
	font-family: @seriffont;
	font-style: italic;
	xline-height: 1.5em;
}

.splash
{
	width: 246px;
	height:	165px;
	overflow: hidden;
}

.splash img
{
	width: 246px;
	height:	165px;
}

@substatementfontsize: 1.2em;

.substatement
{
	font-size: @substatementfontsize;
	color: #444444;
	xline-height: 1.5em;
}

.showmoreorless a
{
	font-style: italic;
	font-size: 0.9em;
}

@minoritemtitleweight: 600;

.minoritemtitle
{
	color: @cl_red;
	text-transform: uppercase;
	font-weight: @minoritemtitleweight;
}

.minoritemtitle strong
{
	font-weight: @minoritemtitleweight;
}

.newsdate
{
	color: #888888;
	xtext-transform: uppercase;
	font-weight: 600;
	xfont-size: 0.9em;
	margin-bottom: 20px;
	font-family: @seriffont;
}

.newsintroblock
{
	margin-left: 0px;
	margin-right: 30px;
}

.newsintrotext
{
	font-family: @seriffont;
	font-style: italic;
	color: black;
	font-size: 0.8 * @substatementfontsize;
	margin-top: 9px;
	xpadding-left: 10px;
}

.newsintrotext strong
{
	color: @cl_red;
}

.backtohomepage
{
	margin-top: 20px;
}

.morenews
{
	font-family: @seriffont;
}

.keywords
{
	color: @cl_red;
} 

